<h2>ÁRFOLYAM LEKÉRDEZÉS</h2>
<EditForm OnValidSubmit=@FilterChangeHandler Model=@this>
    <input type="date" @bind-value=_datum />
    <select @bind=_valuta>
        @foreach (var valuta in _currencies)
        {
            <option value="@valuta">@valuta</option>
        }
    </select>
    <button type="submit">Keres</button>
</EditForm>


<p>@_result</p>


@code {
    private List<string> _currencies = ["GBP", "AUD", "DKK", "JPY", "CAD", "NOK", "CHF", "SEK", "USD", "CZK", "PLN", "EUR", "HRK", "RON", "TRY"];
    private DateOnly _datum;
    private string _valuta = "GBP";
    private HttpClient _httpClient = new();
    private string _response;
    private JsonDocument _jsonDocument;
    private double _result;


    private async Task FilterChangeHandler() 
    {
        //HttpResponseMessage response = await _httpClient.GetAsync($"http://api.napiarfolyam.hu?bank=kh&datum={_datum.ToString("yyyyMMdd")}&valuta={_valuta.ToLower()}");
        //response.EnsureSuccessStatusCode();
        //_responseBody = await response.Content.ReadAsStringAsync();

        _response = await _httpClient.GetStringAsync($"https://cdn.jsdelivr.net/npm/@fawazahmed0/currency-api@{_datum.ToString("yyyy-MM-dd")}/v1/currencies/{_valuta.ToLower()}.json");
        _jsonDocument = JsonDocument.Parse(_response);

        if (_jsonDocument.RootElement.GetProperty(_valuta.ToLower()).TryGetProperty("huf", out JsonElement value))
        {
            _result = value.GetDouble();
        }

        StateHasChanged();
    }
}
