<div class="@_cssClass" @onclick="OnClick"></div>

@code {
	[Parameter] public Peg Peg { get; set; }
	[Parameter] public EventCallback<Peg> PickColor { get; set; }

	private string _cssClass
	{
		get
		{
			if (Peg == null)
				return "peg peg-none";

			return $"peg peg-{Peg.Value.ToString().ToLower()}";
		}
	}

	public void OnClick()
	{
		PickColor.InvokeAsync(Peg);
	}
}
