<div class="@_cssClass"></div>

@code {
	[Parameter] public Peg Peg { get; set; }

	private string _cssClass 
	{
		get 
		{
			if (Peg == null)
				return "peg peg-none";

			return $"peg peg-{Peg.Value.ToString().ToLower()}";
		}
	}
}
