.board {
    background-color: greenyellow;
    width: fit-content;
    padding: 20px 20px;
    border-radius: 30px;

    .question {
    }

    .rounds {
        display: flex;
        flex-direction: column;
        gap: 4px;

        .round {
            display: flex;

            .pegs {
                display: flex;
                gap: 4px;
            }

            .pins {
                display: grid;
                grid-template-rows: repeat(2, 1fr);
                grid-auto-flow: column;
                gap: 4px;
            }
        }
    }

    .guess {
        display: flex;
        gap: 4px;
    }

    .colors {
        display: flex;
        gap: 4px;
    }

    .peg {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid black;
    }

    .peg-none {
        background-color: bisque;
    }

    .peg-a {
        background-color: red;
    }

    .peg-b {
        background-color: green;
    }

    .peg-c {
        background-color: blue;
    }

    .peg-d {
        background-color: yellow;
    }

    .peg-e {
        background-color: pink;
    }

    .peg-f {
        background-color: purple;
    }

    .peg-g {
        background-color: white;
    }

    .pin {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: 1px solid black;
    }

    .pin-none {
        background-color: bisque;
    }

    .pin-black {
        background-color: black;
    }

    .pin-white {
        background-color: white;
    }
}

button {
    border-radius: 15px;
    border: none;
    width: fit-content;
    height: 30px;
    background-color: indianred;
    color: white;
}

.options {
    display: flex; //
    flex-direction: column;

    .opt-input {
        background-color: bisque;
        border: none;
        border-radius: 25px;
        width: 40px;
        text-align: center;
    }
}