@page "/mastermind"
<PageTitle>Mastermind</PageTitle>
<h1>Mastermind</h1>
<div class="table">
	<div class="gamespace">
		<section>
			<div class="dhead">
				@for (int i = 0; i < 4; i++)
				{
					<div class="dheaditem" style="background-color:@randomcolors[i]"></div>
				}
			</div>
		</section>
		<br />
		<section>
			<div class="dbody">
				@for (int i = 0; i < 11; i++)
				{
					<div class="dbodyitem"> 
						@for (int j = 0; j < 4; j++)
						{
							<div class="ditem"></div>
						}
					</div>
					<br />
				}
			</div>
		</section>
		<br />
		<section>
			<div class="dfoot">
				@for (int i = 0; i < 8; i++)
				{
					var tempindex = i;
					<div class="dfootitem" style="@SelectedColorStyle(i)" @onclick="() => SelectColor(tempindex)"></div>
				}
			</div>
		</section>
	</div>
	<div class="sidepart">
		<button>Felad</button>
		<div class="rowresult">
			@for (int i = 0; i < 11; i++)
			{
				<div class="pinpanel">
					@for (int j = 0; j < 4; j++)
					{
						<div class="pin"></div>
					}
				</div>
			}
		</div>
		<button>Csekk</button>
	</div>
</div>


@code {
	private string[] colors = { "red", "white", "blue", "pink", "orange", "purple", "yellow", "green" };
	Random random = new();
	private string[] randomcolors = new string[4];
	private string selectedcolor;
	private int selectedcolorindex;

	protected override void OnInitialized()
	{
		for (int i = 0; i < randomcolors.Length; i++)
		{
			this.randomcolors[i] = colors[random.Next(0, 7)];
		}
		SelectColor(0);
	}

	private void SelectColor(int index){
		selectedcolor = colors[index];
		selectedcolorindex = index;
	}

	private string SelectedColorStyle (int colorindex){
		if (colorindex == this.selectedcolorindex)
		{
			return $"background-color:{colors[colorindex]}; border: 3px solid black;";
		}
		else
		{
			return $"background-color:{colors[colorindex]};";
		}
	}
}
